body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#Titulo_del_blog
{
    color: rgb(246, 25, 21);
    text-align: center;
    border: 2px solid #e216af;

}
#Categoria
{
    color: #cfcfcf;
    text-align: right;
    font-size: small;
}
#Header
{
    background-color: #f08bff;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(0,0,0);
    margin: auto;
    background-color: #a7f1d1;
}

#container h1
{
    font-size: 20px;
}
#Footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-contenido {
    max-width: 800px;
    margin: 0 auto;
}

.footer-contenido p {
    margin: 5px 0;
}
